/* CSS for app */

.btnGreen{
	-fx-background-color:  #3cbc53;
}

.background{
	-fx-background-color: DODGERBLUE;
}

.btnOrange{
	-fx-background-color:  #e67e22;
}
.background2{
	-fx-background-color:  #fa8231;
}

.btnviolet{
	-fx-background-color:  #34495e;
}
.btnyellow{
	-fx-background-color:  #f6e58d;
}
.btnred{
	-fx-background-color:  #eb4d4b;
}
.btnpink{
	-fx-background-color:  #ff7979;
}
.btnblue{
	-fx-background-color:  #dff9fb;
}